 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 1rem;
  }
  body {
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    color:white;
    background-color:black;
    font-family: Arial, sans-serif;
   
  }
  .title {
    visibility: hidden;
  }
  
  .container {
    width:50vw;
    height: 90vh;
    margin: 1rem auto;
  }
  
  .slider {
    width: 100%;
    height: 100%;
    position: relative;
    background-color:black;
    overflow: hidden;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      'slide slide'
      'text control';
    row-gap: 4rem;
  }
  
  .slider > input {
    display: none;
  }

  .slider_content,
  .slider_text {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .slider_content {
    grid-area: slide;
  }

  .slider_text {
    grid-area: text;
  }

  .control {
    display: flex;
    justify-content: space-around;
    grid-area: control;
  }

  .slides,
  .slider_text-content {
    display: flex;
    height: 100%;
    transition: transform 1.5s ease;
  }
  .slides .slide {
    display: inline-block;
    width: 50vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
   
  }
  
  .slides .sl-1 {
    background-image: url('./assets/1-dog.jpg');
   }
  .slides .sl-2 {
    background-image: url('./assets/2-Sparta.jpg');
  }
  .slides .sl-3 {
    background-image: url('./assets/3-doc.jpg');
  }
  .slides .sl-4 {
    background-image: url('./assets/4-software.jpg');
  }

  
  .slider_text-content .slide {
    display: inline-block;
    width: 50vW;
    height: 100%;
  }

  
  